#module-webpay-success #center_column h1 {
    margin-top: 20px;
}
#module-webpay-success #center_column h3 {
    margin: 0 0 10px;
}
#module-webpay-success #center_column .title_block {
    background: none repeat scroll 0 0 #e6e6e6;
    margin: 20px 0;
    padding: 15px 20px;
}
#module-webpay-success #center_column .title_block input {
    float: right;
    position: relative;
    top: -8px;
}
#module-webpay-success .label {
    font-size: 12px;
}
#module-webpay-success table.std {
    width: 100%;
}
#module-webpay-success table.std thead th, #module-webpay-success table.std td {
    padding: 10px;
}
#module-webpay-success table.std tr {
    border-bottom: 1px solid #e6e6e6;
}
#module-webpay-success table.std tr:last-child {
    border: 0 none;
}
#module-webpay-success ul.address {
    margin: 0 0 20px;
}
#module-webpay-success ul.address li.address_title {
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
    padding: 0 0 10px 20px;
}
@media only screen and (max-width: 650px) {
	#module-webpay-success #order-list td {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: -moz-use-text-color -moz-use-text-color #eee;
	    border-image: none;
	    border-style: none none solid;
	    border-width: medium medium 1px;
	    padding-left: 50%;
	    position: relative;
	    text-align: left;
	    white-space: normal;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#module-webpay-success #center_column {
	    width: 100%;
	}
}